<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/cover.css}" rel="stylesheet">
</head>

<body class="d-flex h-100 text-center text-white bg-dark">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header th:insert="blocks/header :: header"></header>

    <div class="px-3 mt-5 mb-5">
        <h1>Editing User</h1>
        <div th:each="el: ${userEdit}" class="alert alert-info mt-2">
            <form method="post">
                <input type="text" name="firstName" th:value="${el.firstName}" class="form-control"/><br/>
                <input type="text" name="secondName" th:value="${el.secondName}" class="form-control"/><br/>

                <button type="submit" class="btn btn-success">Edit User</button>
            </form>
        </div>
    </div>

    <footer th:insert="blocks/footer :: footer"></footer>
</div>

</body>
</html>