<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/cover.css}" rel="stylesheet">
</head>

<body class="d-flex h-100 text-center text-black">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header th:insert="blocks/header :: header"></header>

    <main class="px-3 mt-4">
        <h1>Послуги</h1>
        <div th:each="el: ${features}" class="alert alert-info mt-2">
            <p th:text="${el.name}"></p>
            <a th:href="'/features/' + ${el.id}" class="btn btn-info">Detail</a>
        </div>

        <a class="btn btn-light mt-3" href="/feature/add">Add Feature</a>
    </main>


    <footer th:insert="blocks/footer :: footer"></footer>
</div>

</body>
</html>