<header th:fragment="header" class="mb-auto">
    <div>
        <h3 class="float-md-start mb-0">Авраам</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
            <!--<a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="/">Home</a>-->
            <a class="nav-link fw-bold py-1 px-0 text-black" href="/">Головна</a>
            <a class="nav-link fw-bold py-1 px-0 text-black" href="/features">Послуги</a>
            <a class="nav-link fw-bold py-1 px-0 text-black popup" data-bs-toggle="modal" data-bs-target="#myModal" href="/">Контакти</a>
            <a class="nav-link fw-bold py-1 px-0 text-black" href="/user/add">Рєєстрація</a>
        </nav>

        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Контакти нотаріуса</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="col">м. Харків пр.Науки 23/2</div>
                        <div class="col">тел. +380-000-000-000</div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</header>